body {
  background-color: black;
}

.kisKartyak {
  display: grid;
  grid-template-columns: repeat(6, auto);
  text-align: center;
}

.nagyKep button {
background: none;
border:none;
color:white;
margin: 30px;
font-size: 30px;
}

.nagyKep button:hover {
  color:grey;
  transition: .1s ease-in-out;
  cursor: pointer;
}
.nagyKep button:active {
  color:darkcyan;

}
